<IfModule mod_rewrite.c>

    RewriteCond %{HTTP_HOST} ^pedro2\.com\.ar
    RewriteRule (.*) http://pedro2.data99.com.ar/$1 [R=301,L]

    RewriteCond %{HTTP_HOST} ^pedroii\.com\.ar
    RewriteRule (.*) http://pedro2.data99.com.ar/$1 [R=301,L]

    RewriteCond %{HTTP_HOST} ^pedrosegundo\.com\.ar
    RewriteRule (.*) http://pedro2.data99.com.ar/$1 [R=301,L]

    #quitar www
    RewriteCond %{HTTP_HOST} ^www\.(.*) [NC]
    RewriteRule ^(.*)$ http://%1%{REQUEST_URI} [L,R=301]
</IfModule>